
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .conteneur {
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2rem;
}

header p {
    font-size: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}


.section {
    padding: 40px 0;
    background-color: #fff;
}

.section h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.container2, .conteneur {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.2rem;
}

.intervenant {
    display: inline-block;
    width: 45%;
    margin: 10px;
    text-align: center;
}

.intervenant img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}


form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input:focus {
    border-color: #333;
    outline: none;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1rem;
}


@media (max-width: 768px) {
    .section h2 {
        font-size: 1.5rem;
    }

    .intervenant {
        display: block;
        width: 200%;
    }
}